#me {
	max-width: 250px;
	padding: 10px;
	border-radius: 25px;
}

.blog-container {
	margin: auto;
	max-width: 900px;
	padding: 10px;
	font-size: 18px;
}

.blog-container a {
	color: inherit;
	text-decoration: none;
}

.blog-summary {
	background-color: #1c1c1c;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.blog-post-container {
	font-size: 18px;
	margin: auto;
	max-width: 900px;
	padding: 10px;
}

.contact-container {
	margin: auto;
	max-width: 900px;
	padding: 10px;
	font-size: 18px;
}

.home-container {
	margin: auto;
	max-width: 900px;
	padding: 10px;
	font-size: 18px;
}

body {
	background-color: #222222;
	font-family: monospace;
	color: lightgrey;
}

footer {
	position: fixed;
	bottom: 0;
}

nav {
	display: flex;
	align-items: center;
	font-size: 17px;
}

nav h1 {
	flex: auto;
	margin: 0;
}

nav h1 a {
	padding: 0.25rem 0.5rem;
	text-decoration: none;
	color: inherit;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li a {
	display: block;
	padding: 0 0.5rem;
	text-decoration: none;
	color: inherit;
}

p code {
	background: #49483e;
	font-size: 16px;
	padding: 2px;
	border-radius: 3px;
}
