<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %} - Phaetere</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='codehilitestyle.css') }}" />
	</head>
	<body>
		<nav>
			<h1><a href="/">Phaetere</a></h1>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="https://gitlab.com/users/fizzizist/projects">Projects</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		{% block content %}{% endblock %}
		<footer>
			Author: Peter Vlasveld
		</footer>
	</body>
</html>
