{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="blog-container">
	{% for title in posts %}
	<div class='blog-summary'>
		<h2><a href="/blog/{{ title }}">{{ title }}</a></h2>
	</div>
	{% endfor %}
</div>	
{% endblock %}
