{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="contact-container">
	<h1>Contact</h1>
	<p>Email: <a href="mailto:pvlasveld@protonmail.com">pvlasveld@proton.me</a></p>
	<p><a href="https://www.linkedin.com/in/peter-vlasveld-19756459/">LinkedIn</a></p>
</div>	
{% endblock %}
