{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
	<table>
		<tr>
			<td><img id="me" src="{{ me }}" alt="Photo of me"></td>
			<td>
				<p>Hi!</p>
				<p>I'm Peter Vlasveld, and this site is where I publish my thoughts and projects.</p>
				<p>I am a software developer working in biotech, and I have a degree in Neuroscience and Philosophy from the University of Toronto.</p>
				<p>All of the code for this site and my personal projects can be found on my <a href="https://gitlab.com/fizzizist">GitLab</a>.</p>
			</td>
		</tr>
	</table>
</div>
{% endblock %}
