{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="contact-container">
	<h1>Projects</h1>
	<h2 style="color:red">This section is currently under construction due to porting my site to a new framework. Stay tuned!</h2>
</div>	
{% endblock %}
